body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: #3d71b9;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between; 
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.hero-left {
    color: #FFFFFF;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-right {
    background-color: #6d747d;
    display: flex;
    padding: 100px 50px;
    color: #FFFFFF;
}

.hero h1 {
    margin: 0;
}