body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #cecece;
    font-size: 18px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul {
    display: flex;
    gap: 30px;
}

button {
    border: none;
    background: #3d71b9;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    
    border-radius: 10px;
}

header {
    background-color: #1F2937;
}

.header-container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0;
}

.hero-left {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.hero-right {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 500px;
    height: 220px;
}

.hero h1 {
    margin: 0;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #1F2937;
    padding: 80px 0;
    gap:50px;
}

.information h2 {
    text-align: center;
    margin: 0;
}

.information ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information li {
    width: 160px;
    text-align: center;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3d71b9;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 100px 0;
    margin: 0;
}

.quote blockquote {
    width: 800px;
    margin: 0 auto;
}

.quote cite {
    display: block;
    text-align: end;
    font-weight: bold;
}

.quote p {
    margin: 16px;
    font-style: italic;
    font-weight: lighter;

}

.cta {
    background-color: #FFFFFF;
    padding: 100px;
}

.cta-box{
    background-color: #3d71b9;
    color: #ffffff;
    display: flex;
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.cta-button button {
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.cta-text h3{
    margin: 0;
}

.cta-text p{
    margin: 0;
}

footer {
    background-color: #1F2937;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
