body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: #3d71b9;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between; 
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.hero-left {
    color: #FFFFFF;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-right {
    background-color: #6d747d;
    display: flex;
    padding: 100px 50px;
    color: #FFFFFF;
}

.hero h1 {
    margin: 0;
}

.information {
    background-color: #ffffff;
    color: #1F2937;
}

.information h2 {
    text-align: center;
    padding: 50px 0;
}

.information ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information li {
    width: 160px;
    text-align: center;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3d71b9;
    border-radius: 10px;
    
}